.mcqContainer {
    /* because of answer have margin bottom*/
    margin-bottom: -20px !important;
    position: relative;
}

.answer {
    width: calc(100% - 20px);
    max-width: 500px;
    background-color: var(--primary);
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid var(--primary);
    margin: 0 0 20px 0;
}

.answer span {
    font-weight: 500;
    color: var(--header-text) !important;
}

.answer svg {
    width: 20px;
    height: 20px;
}

.hover:hover,
.checked {
    background-color: var(--secondary-25);
    color: var(--secondary);
    border-color: var(--secondary);
}