.container {
    position: absolute;
    right: 0px;
    bottom: -90px;
    display: flex;
}

.fromMatch div {
    display: flex;
}

.fromMatch button {
    margin: 15px 0;
}

.fromMatch div :first-child {
    margin-right: 10px;
}

@media (max-width:600px) {
    .container {
        bottom: -120px;
    }

    .container button,
    .container a {
        font-size: var(--font-size-50) !important;
        padding: 5px 10px;
    }

    .container svg {
        width: 20px;
        height: 20px;
    }
}