.container {
    position: absolute;
    right: 0px;
    bottom: -80px;
    display: flex;
}

.fromMatch div {
    display: flex;
}

.fromMatch button {
    margin: 15px 0;
}

.fromMatch button:nth-child(1) {
    margin-right: 10px;
}

.myPartner button,
.myPartner a {
    font-size: var(--font-size-300) !important;
    padding: 6px 18px;
}

@media (max-width:600px) {
    .container {
        bottom: -70px;
    }

    .container button,
    .container a {
        font-size: var(--font-size-50) !important;
        padding: 6px 30px;
        min-width: 75px;
    }

    .container svg {
        width: 20px;
        height: 20px;
    }

    .myPartner button,
    .myPartner a {
        font-size: var(--font-size-50) !important;
        padding: 6px 12px;
    }
}

@media (max-width:420px) {

    .container button,
    .container a {
        padding: 6px 12px;
    }

    .myPartner button,
    .myPartner a {
        font-size: var(--font-size-30) !important;
        padding: 6px 10px;
        min-width: 0;
    }

    .myPartner svg {
        width: 15px;
        height: 15px;
    }
}