.question {
    max-width:500px;
    margin:auto;
}

.answer {
    width: calc(100% - 20px);
    max-width: 500px;
    background-color: var(--background2);
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 1px solid var(--background2);
    margin-left: 0;
}

.answer span {
    font-weight: 500;
}

.answer img {
    width: 24px;
    height: 24px;
}

.checked {
    background-color: rgba(3, 102, 102, 0.25);
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

.group{
    margin-top: 20px;
}