.icon {
    border: 1px solid var(--secondary-border);
    background-color: var(--primary);
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.icon svg {
    width: 26px;
    height: 26px;
}

@media (max-width:900px) {
    .icon {
        width: 35px;
        height: 35px;
        margin-right: 5px;
        padding: 6px;
    }
}