.container {
    height: 60px;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: var(--primary);
    border-bottom: 1px solid var(--app-bar-border);
    z-index: var(--layer-nav);
}

.container h1 {
    color: var(--secondary);
    margin-right: 20px !important;
}

.title {
    font-size: 22px;
    font-weight: 500;
    color: var(--text-header);
    margin-right: 30px;
}

.mainIcons {
    display: flex;
    justify-content: space-between;
    max-width: 330px;
    /* width: 100%; */
    /* background-color: yellowgreen; */
}

.mainIcons a {
    width: 45px;
    height: 45px;
    /* margin: 10px; */
    /* background-color: violet; */
}

.mainIcons svg:hover {
    fill: var(--secondary);
}

.rightIcons {
    display: flex;
    justify-content: flex-end;
}

@media (max-width:900px) {

    .rightIcons,
    .mainIcons {
        display: none;
    }
}

@media (max-width:600px) {

    .container {
        padding: 0 10px;
    }
}

@media (max-width:375px) {
    .searchBar {
        display: none;
    }
}