.openBtn {
    background-color: var(--chat-receive);
    border-radius: var(--border-radius-inputs);
    padding: 4px;
}

.openBtn svg {
    width: 25px;
    height: 25px;
}

.container {
    height: calc(100vh - 53px);
    width: 100vw;
    overflow: auto;
}

.container a,
.container li {
    width: 100%;
    padding: 12px 0 12px 30px;
}

.container a,
.container li {
    font-size: var(--font-size-600);
    font-weight: 600;
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
}

.icon {
    margin-right: 30px;
}

.icon svg {
    width: 30px;
    height: 30px;
}

.item {
    color: var(--text-header);
    font-weight: bold;
    font-size: var(--font-size-600);
    display: flex;
    align-items: center;
}

.profileItem {
    width: 100%;
    height: 100%;
}

.popIconBtn {
    margin-left: -8px
}

@media (min-width:901px) {

    .container,
    .openBtn {
        display: none;
    }
}

@media (max-width:600px) {

    .container a,
    .container li {
        padding: 12px 0 12px 10px;
    }

    .icon {
        margin-right: 10px;
    }
}