.btn {
    color: var(--primary);
    background-color: var(--secondary);
    border-radius: var(--border-radius-inputs);
    text-transform: none;
    box-shadow: none !important;
    margin: 10px 0;
}

.btn:hover {
    background-color: var(--secondary);
}