.errorText {
    color: var(--error);
    font-size: var(--font-size-100);
    margin: 0;
}

.formError input {
    border-color: var(--error) !important;
}

.formError label {
    color: var(--error) !important;
}

.errorContainer {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.errorIcon {
    margin-left: 2px;
    margin-right: 2px;
}