.login {
    height: 100vh;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* flex-wrap: nowrap; */
}

.forgetPasswordBtn {
    text-transform: none;
    font-size: var(--font-size-100);
    padding: 0;
    font-weight: 500;
    color: var(--secondary);
}

.forgetPasswordContainer {
    width: 100%;
    text-align: right;
    margin-top: 3px;
    margin-bottom: 10px;
}

.divider::after,
.divider::before {
    border-top: 1px solid var(--divider);
}

.divider span {
    color: var(--text-secondary);
    font-weight: 700;
}

.divider {
    margin-bottom: 10px;
}

@media (max-width:600px) {
    .login {
        justify-content: center;
    }
}