.forgetPasswordBtn {
    text-transform: none;
    font-size: var(--input-font-size);
    padding: 0;
    font-weight: 400;
}

.forgetPasswordContainer {
    width: 100%;
    text-align: right;
    margin-top: -5px;
    padding-bottom: var(--margin-bottom);
    font-size: var(--font-size-small);

}
