.container {
    width: 45px;
    height: 45px;
}

.container svg {
    width: 30px;
    height: 30px;
}

.answer {
    background-color: var(--light-green) !important;
}

.answer svg {
    transform: rotateZ(-135deg);
}