.container {
    position: relative;
    background-color: var(--incoming-call);
    border-radius: var(--border-radius-150);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    cursor: grab;
    position: fixed;
    width: 240px;
    max-width: calc(100% - 60px);
    text-align: center;
    padding: 20px;
    z-index: var(--layer-incoming-call);
}

.containerForMobile {
    width: calc(100vw - 40px);
    max-width: calc(100vw - 40px);

    width: calc(100svw - 40px);
    max-width: calc(100svw - 40px);

    border-radius: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}

.info h1 {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    font-size: var(--font-size-800);
    color: var(--primary);
}

.info span {
    width: 100%;
    color: var(--incoming-call-span);
    font-size: var(--font-size-100);
}

.content {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 340px;
    max-height: calc(100% - 60px);
    align-items: space-between;
    justify-content: center;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profilePic {
    width: 100px;
    height: 100px;
    font-size: 30px;
}

.action {
    min-width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.voiceAction {
    justify-content: center !important;
}

.voiceAction button {
    margin: 10px;
}

.marginTop {
    margin-top: 20px;
}

.videoContainer {
    height: 120px;
}

.containerForMobile .videoContainer {
    height: 20vh !important;
    min-height: 120px !important;
    max-width: 400px !important;
    margin: 10px  auto;
}