.container {
    margin-top: 30px;
}

.container label {
    display: block;
    text-align: left;
    margin-bottom: 16px;
    font-weight: 500;
}

.color {
    width: 20px !important;
    height: 20px !important;
    background-color: #C8F2FF;
    border-radius: 50%;
    margin-right: 8px !important;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}

.colorPicker {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.chosenColor {
    border: 2px solid var(--secondary);
}

.errContainer {
    width: 100%;
    margin-top: 15px;
}