.container {
    position: fixed;
    right: 60px;
    top: 90px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-width: 200px;
    align-items: flex-end;
    z-index: var(--layer-100);
}

.container h1 {
    display: none;
}

.trashIcon svg {
    width: 35px;
    height: 35px;
}

.menuContainer {
    width: 200px !important;
}

@media (max-width:900px) {
    .container {
        right: 20px;
    }
}

@media (max-width:600px) {
    .container {
        right: 10px;
        left: 10px;
        top: 65px;
        flex-direction: row;
        display: flex;
        margin-bottom: 8px;
        height: 35px;
        position: static;
    }

    .container h1 {
        width: auto !important;
        display: inline;
    }
}