.container {
    margin-top: -20px;
}

.header {
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: var(--border-radius-150) var(--border-radius-150) 0 0;
    padding: 6px 5px 6px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    position: absolute;
    top: 0;
    z-index: var(--layer-100);
}

.header svg {
    color: var(--primary);
    font-size: var(--font-size-400);
}

.header h5 {
    margin: 0;
    font-size: var(--font-size-300);
    font-weight: 500;
    display: inline-block;
}

.list h6 {
    font-size: var(--font-size-200);
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 15px);
}

.listTitle {
    color: var(--Text-Paragraph, var(--text-secondary, rgba(0, 0, 0, 0.60)));
}

.chatItem {
    height: 60px;
}

.username {
    color: var(--text-header);
    margin: 0 !important;
}

.lastMessage {
    display: block;
    margin: 0;
    font-size: var(--font-size-100);
    color: var(--text-paragraph);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item {
    width: 100%;
    overflow: hidden;
}

.noChatsContainer {
    height: 310px;
}

.noChatsContainer img {
    width: 50% !important;
}

.profilePicContainer {
    width: 45px;
    height: 45px;
}

.newMessageMark span{
    width: 15px;
    height:  15px;
    border-radius: 50%;
    margin-right: 10px;
}