.container {
    border-radius: var(--border-radius-form);
    background-color: var(--trash-note);
    min-height: 250px;
    padding: 20px;
}

.--note1 svg {
    fill: var(--note1) !important;
}

.--note2 svg {
    fill: var(--note2) !important;
}

.--note3 svg {
    fill: var(--note3) !important;
}

.--note4 svg {
    fill: var(--note4) !important;
}

.--note5 svg {
    fill: var(--note5) !important;
}

/* --note1: #FFF6C8;
--note2: #C8F2FF;
--note3: #FFC8C8;
--note4: #E0FFC8;
--note5: #FFE6C8; */

.positionRelative {
    position: relative;
}

.date {
    font-size: var(--font-size-100);
    font-weight: 500;
    color: var(--text-secondary);
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title {
    width: 80%;
    align-items: center;

}

.removeChildMargin div:first-of-type {
    margin: 0;
    padding: 0;
}

.title input {
    font-size: var(--font-size-900);
    font-weight: 500;
    color: var(--text-header);
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    border: none;
    text-overflow: ellipsis;
}

.title input,
.content textarea {
    -webkit-text-fill-color: var(--text-header) !important;
}

.content textarea {
    background-color: transparent;
    border: none;
    padding: 0;
}

.content {
    margin-bottom: 16px;
}

.iconBtn {
    margin-right: -8px;
}

.divider {
    border-color: var(--text-secondary);
}

.mb {
    margin-bottom: 16px;
}

.containedIconBtn {
    background-color: var(--black-80);
    border-radius: var(--border-radius-inputs);
    width: 28px;
    height: 28px;
}

.containedIconBtn svg {
    width: 60%;
    height: 60%;
    fill: var(--trash-note);
}

.icon {
    margin-right: -8px;
}

.optionsIcon svg {
    width: 15px;
    height: 15px;
}

@media (max-width:600px) {
    .grid {
        padding: 0px;
        margin-bottom: 20px;
    }
}