.default {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.small {
    width: 50%;
}

.big {
    width: 70%;
}

.background {
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

.login img {
    width: 70%;
    max-width: 650px;
}

.text {
    width: 100%;
}

.home{
    height: 100%;
}

@media (max-width:600px) {
    .default {
        display: none;
    }
}