.container {
    width: 350px;
    max-width: calc(100vw - 60px);
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: var(--primary);
    border-radius: var(--border-radius-150);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    max-height: calc(100vh - 100px);
    height: fit-content;
}


/* for container when have input bar */
.paddingBottom {
    padding-bottom: 77px;
}

.content {
    overflow: auto;
    height: 320px;
    /* max-height: calc(100% - 280px); */
    padding-top: 20px;
    position: relative;
}

.chatContainer {
    position: relative;
}

.mediaPage {
    height: 400px;
    max-height: calc(100% - 10px);
}

.inputBarContainer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: var(--layer-100);
}

@media (max-width:900px) {
    .container {
        right: 20px;
        bottom: 20px;
    }
}

@media (max-width:600px) {
    .container {
        right: 10px;
        bottom: 10px;
    }
}

@media (max-width:425px) {
    .container {
        max-width: calc(100vw - 20px);
    }

    .content {
        max-height: calc(100vh - 240px);
        max-height: calc(100svh - 240px);
    }
}