.container {
    /* max-width: 200px; */
    background-color: var(--primary);
    padding: 40px;
    border-radius: var(--border-radius-200);
    text-align: center;
}

.container p {
    font-size: var(--font-size-800);
    font-weight: 600;
}

.container button {
    border-radius: var(--border-radius-200);
    width: 100px;
}

.cancelBtn {
    border: 1px solid var(--secondary);
    background-color: var(--primary) !important;
    color: var(--secondary);
    margin-left: 20px;

}