.container {
    padding: 15px 10px;
    width: calc(100% - 20px);
    border-top: 1px solid var(--chat-input-border);
    display: flex;
    align-items: center;
}

.textInput{
    /* display: inline-block; */
    background-color: var(--chat-input);
    border-radius: var(--border-radius-150);
    padding: 6px 15px;
    font-size: var(--font-size-300);
    flex: 1;

}

.marginRight{
    margin-right: 4px;
}