.container {
    width: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.optionBtn {
    width: calc(100% - 45px);
    padding: 10px;
    margin-right: 10px;
    border-radius: var(--border-radius-inputs);
    background-color: var(--primary);
    color: var(--text-header);
    display: flex;
    justify-content: space-between;
    text-wrap: wrap;
    position: relative;
    z-index: var(--layer-100);
}

.chosenOptionBtn {
    color: var(--primary);
}

.chosenOptionBG {
    position: absolute;
    top: -1px;
    left: -1px;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    border-radius: var(--border-radius-inputs);
    background-color: var(--secondary-darker);
    z-index: -1;
}

.chosenOptionBG50 {
    width: calc(50% + 2px);
    border-radius: var(--border-radius-inputs) 0 0 var(--border-radius-inputs);
}

.optionBtn p {
    word-break: break-word;
    width: 100%;
    display: flex;
    white-space: pre-line;
    width: calc(100% - 30px);
    margin: 0;
}

.avatar {
    width: 20px;
    height: 20px;
}

.ratio {
    font-size: var(--font-size-100);
}